<span title={{@outletArgs.topic.bumpedAtTitle}} class="age activity">
  <span class="lastposter-or-clock">
    {{#if @outletArgs.topic.replyCount}}
      <a
        href={{@outletArgs.topic.lastPostUrl}}
        aria-label={{i18n
          "latest_poster_link"
          username=@outletArgs.topic.lastPosterUser.username
        }}
        data-user-card={{@outletArgs.topic.lastPosterUser.username}}
      >{{avatar @outletArgs.topic.lastPosterUser imageSize="small"}}</a>
    {{else}}
      {{d-icon "far-clock"}}
    {{/if}}
  </span>
  <a href={{@outletArgs.topic.lastPostUrl}}>{{formatDate
      @outletArgs.topic.bumpedAt
      format="tiny"
      noTitle="true"
    }}</a>
</span>